body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("images/table.png");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
}

h1 {
    color: goldenrod;
}

.btn {
    background-color: aliceblue;
    color: black;
    margin: 3px 0;
    padding: 8px 0;
    width: 100px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
}

.btn:hover {
    cursor: pointer;
    background-color: #444;
    color: #f1f1f1;
}

/* nav styling */

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #2e2e2e;
}

.player-info {
    min-width: 400px;
    max-width: 600px;
    display: flex;
    justify-content: space-around;
    font-size: 24px;
}

.settings-btn {
    background-color: transparent;
    color: #f1f1f1;
    border: 1px solid #f1f1f1;
    font-size: 18px;
}

.settings-btn:hover {
    background-color: #f1f1f1;
    color: #2e2e2e;
}

/* main content styling */

.main-content {
    max-width: 800px;
    margin: 50px auto;
}

/* start section */

.start-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.play-btn {
    width: 120px;
    padding: 10px;
}

.set-bet {
    font-size: 24px;
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bet-btn {
    width: min-content;
    display: inline-block;
    background-color: transparent;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 40px;
    color: #f1f1f1;
    border: none;
}

.bet-btn:hover {
    cursor: pointer;
    color: #444;
}

/* game section */

.game-section {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 440px;
    border-block: 5px solid #2e2e2e;
    margin: 20px 0;
}

.game-section h3 {
    font-size: 42px;
    margin: 20px
}

img {
    width: 80px;
    margin: 10PX 10px;
}

.card-containers {
    width: 50%;
    max-width: 50%;
}

.win-display {
    position: absolute;
    width: 800px;
    bottom: 0;
    font-size: 56px;
    color:rgb(26, 26, 206);
}

/* action buttons */

.action-buttons {
    display: flex;
    justify-content: space-evenly;
    padding: 0 200px;
    margin: 30px;
}